body{
    background-color: #00BCD4;
    
}
h1{
    text-align: center;
    font-family: 'Inknut Antiqua', serif;
    font-size: 3em;
}
#keypad{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}
table{
    background-color: pink;
    border-radius: 20px;
    padding:10px;
}


#display-bar {
    background-color: white;
    margin-bottom: 10px;
    height: 50px;
    width: 235px;
    font-size:3em;
    font-family: 'Spinnaker', sans-serif;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 10px;
    padding-left: 5px;
    text-align: left;
    color: black;
}

input[type=button]{
    background-color: #00BCD4;
    width: 50px;
    height: 50px;
    font-size: 1em;
    border-radius: 20px;
    margin: 3px;
    
}





